body{
    margin: 0;
}

.nav {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

.nav img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.search{
    width: 300px;
    height: 20px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-left: 25%;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 0 3px;
}
.li{
    padding-left: 0;
}
.nav a:hover{
    color: blueviolet;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
}
